.services{
  background-image: var(--second-gradient);
}

.services__subtitle{
  color: var(--title-color);
  font-size: var(--tiny-font-size);
  font-weight: 700;
  margin-bottom: 65px;
  display: block;
}

.services__title{
  font-size: var(--h4-font-size);
  margin-bottom: 15px;
}

.services__description{
  min-height: 175px;
}