---
import { ModeToggle } from "./ModeToggle";
import { BookOpenText, Home } from "lucide-react";
const currentPath = Astro.url.pathname;
---

<header
  class="max-w-7xl mx-auto px-6 justify-between flex sticky top-10 left-0 z-50"
>
  <nav class="flex py-1 px-2 gap-1 border rounded">
    <a
      href="/"
      class=`flex gap-2 items-center py-1 px-2 rounded ${currentPath === '/' && 'bg-foreground text-secondary'}`
    >
      <Home className="h-4 w-4" />
      <span>Home</span>
    </a>
    <a
      href="/blog"
      class=`flex gap-2 items-center py-1 px-2 rounded ${currentPath === '/blog' && 'bg-foreground text-secondary'}`
    >
      <BookOpenText className="h-4 w-4" />
      <span>Blog</span>
    </a>
  </nav>
  <ModeToggle client:idle />
</header>
