---
import { Home, LayoutTemplate } from "lucide-react";
const currentPath = Astro.url.pathname;
---

<header class="py-6 md:px-16 px-6 border-b border-zinc-800 z-30 md:mb-28 mb-20">
  <div class="max-w-6xl mx-auto flex items-center justify-between">
    <a
      href="/"
      class=`${currentPath === '/' && 'bg-primary text-secondary px-2 py-1 rounded-md'}`
    >
      <span class="flex gap-1 items-center">
        <Home className="h-4 w-4" />
        Rilton Bispo
      </span>
    </a>
    <nav>
      <ul class="flex items-center gap-x-8">
        <li>
          <a
            href="/projects"
            class=`${currentPath === '/projects' && 'bg-primary text-secondary px-2 py-1 rounded-md' } flex gap-1 items-center`
          >
            <LayoutTemplate className="h-4 w-4" />
            Projetos
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
