.footer{
  border-top: 1px solid rgba(255,255,255, 0.05);
  padding-block: 60px;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__socials{
  display: flex;
  column-gap: 20px;
}

.footer__social-link{
  color: var(--title-color);
  font-size: var(--h5-font-size);
  transition: all 0.4s var(--transition);
}

.footer__social-link:hover{
  color: var(--primary-color);
}

.footer__copyright {
  font-size: var(--tiny-font-size);
  font-weight: 700;
}

.footer__container span {
  color: var(--primary-color);
}